<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <h1>List Users</h1>
        <table>
            <thead>
                <th>id</th>
                <th>username</th>
                <th>Aksi</th>
            </thead>
            <tbody>
                <% users.forEach(item => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.username %></td>
                    <td>
                        <a href="/user/delete/<%= item.id %>">delete</a>
                        <a href="/dashboard/update/<%= item.id %>">update</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>
