<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/user/update/<%= user.id %>" method="POST">
            <label for="username">Username</label>
            <input
                type="text"
                name="username"
                id="username"
                value="<%= user.username %>"
            />
            <label for="password">Password</label>
            <input
                type="text"
                name="password"
                id="password"
                value="<%= user.password %>"
            />
            <button>Update</button>
        </form>
    </body>
</html>
